@model Rep2.Models.EntityModel.DataBaseServer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout/_MainMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DataBaseServer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataBaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataBasePartionFreeSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataBasePartionFreeSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessAccount.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.MachineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
